{% include "base.html" %}

{% block content %}
<div class="container text-center">   
    <h1>BARANGAY INFORMATION APP</h1>




    <table class="table">
     
        <thead class="thead-dark">
          <tr>
            <th scope="col">ResidentID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">MiddleName</th>
            <th scope="col">Alias</th>
          </tr>
        </thead>
        <tbody>     
        {% for user in users %}       
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.middlename }}</td>
            <td>{{ user.alias }}</td>
          </tr>
        {% endfor %}
    </table>
      

</div>
{% endblock %}